@import url("https://fonts.cdnfonts.com/css/gt-super-ds-trial");
@import url("https://fonts.cdnfonts.com/css/avenir-lt-pro");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

@font-face {
  font-family: "GT Super Ds Trial", sans-serif;
  font-family: "GT Super Txt Trial", sans-serif;
}

@font-face {
  font-family: "Avenir LT Pro", sans-serif;
}

@font-face {
  font-family: "EB Garamond", sans-serif;
}

@theme {
  --font-avenir-lt: "Avenir LT Pro", sans-serif;
  --font-gt-super-ds: "GT Super Ds Trial", sans-serif;
  --font-gt-super-txt: "GT Super Txt Trial", sans-serif;
  --font-eb-garamond: "EB Garamond", sans-serif;
}
